*,::before,::after{
    box-sizing: border-box;
}

.container-main-Race{
    width:100%;
    height:100vh;
    background: url('../../../../assets/img/starrace2.jpg') no-repeat center/cover;
    margin:auto;
}
.container-main-Race form{
    margin:auto
}

.container-main-Race h2{
    margin-top: 50px;
    margin-bottom:25px;
    font-family: 'Audiowide';
    display: inline-block;
    font-size:45px;
    color: #891199;
    /* background: rgba(224, 109, 240,0.3); */
    padding:10px;
    border-radius:99999px;
    box-shadow: inset -20px 20px 20px 20px rgb(251 222 255 / 30%),inset 20px 20px 20px 20px rgb(251 222 255 / 30%),inset 20px -20px 20px 20px rgb(251 222 255 / 30%),inset -20px -20px 20px 20px rgb(251 222 255 / 30%),-20px 20px 20px 20px rgb(251 222 255 / 30%),20px 20px 20px 20px rgb(251 222 255 / 30%),20px -20px 20px 20px rgb(251 222 255 / 30%),-20px -20px 20px 20px rgb(251 222 255 / 30%);
    padding:10px;
}

.horseracegame-main-container{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    background: url('../../../../assets/img/starrace.jpg')no-repeat center/cover;
    background-color: #1a1e4d;
}

.container-form-race h3{
    font-size:18px;
    color: #71f6ff;
    margin-bottom:20px;
}


.main-container-horse-line{
    margin:auto;
    width:80%;
    display: flex;
}

.line{
    position: relative;
    width:20%;
    height:20px;
    background: rgba(160,53,253,0.1);
    margin: 20px 0px;
}

.trai{
    position:absolute;
    top: 5px;
    right:50%;
    font-family: 'Press Start 2P';
    color: #fc2338;
}
/* .line1,.line2,.line3,.line4,.line5{
    border-top: 2px solid #f3ef83;
    border-bottom: 2px solid #f3ef83;
}
.line1{
    border-left: 2px solid #f3ef83;
}
.line5{
    border-right: 2px solid #f3ef83;
} */

.horse{
    opacity: 0;
    border-radius: 50%;
    position:absolute;
    top: -5px;
    width: 30px;
    height:30px;
    color: #71f6ff;
    z-index: 10;
    font-size: 30px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes cheval {
    0%{
        opacity: 0;
    }
    0.1%{
        opacity: 1;
    }
    10%{
        opacity: 1;
        left:0px;
    }
    99.9%{
        opacity: 1;
        left:100%;
    }
    /* 99%{
        opacity: 0;
    } */
    100%{
        left:100%;
        opacity: 0;
    }
}
@keyframes cheval2 {
    0%{
        opacity: 0;
    }
    0.1%{
        opacity: 1;
    }
    10%{
        opacity: 1;
        left:0px;
    }
    99.9%{
        opacity: 1;
        left:100%;
    }
    /* 99%{
        opacity: 0;
    } */
    100%{
        opacity: 1;
        left:100%;
    }
}

.container-form-race{
    background: #1a1e4d;
    width:300px;
    height:auto;
    margin:auto;

}

.container-form-race form{
    width:300px;
    padding: 10px;
    margin-top: 30px;
}

.form-par{
    margin: 10px 0;
    display:flex;
    flex-direction: column;
}
.form-par label{
    margin-bottom: 10px;
    color: #71f6ff;
}

.form-par input, .form-par select{
    color: #71f6ff;
    background: #1a1e4d;
    outline: none;
    border: none;
    border: 1px solid #891199;
}

.container-form-race button{
    width:100%;
    height:25px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #1a1e4d;
    border: 1px solid #891199;
    color:#71f6ff;
    transition: all 0.5s ease-in-out;
    font-family: 'Audiowide';
    font-size:20px;
    line-height: 25px;
}

.container-form-race button:hover{
    background:#891199;
    border: 1px solid #71f6ff;
    /* color:#1a1e4d; */
}

.line3 p{
    font-family: 'Press Start 2P';
    font-size: 12px;
}

@media screen and (max-width:570px){
    .container-main-Race h2{
        font-size:22px;
    }
}

.container-result{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background: #1a1e4d;
}

.container-result-loose{
    width:100%;
    height: 100%;
    margin: auto;
    background: url('../../../../assets/img/gameover.png')no-repeat center/contain;
    /* display: flex; */
    /* align-items:center; */
    /* justify-content:center; */
}
.container-result-loose a{
    margin-top:100px;
    margin: auto;
}

.container-result-win{
    width:320px;
    height: 100%;
    background: url('../../../../assets/img/win.jpg')no-repeat center/contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Audiowide';
    color: #71f6ff;
}

.container-result a{
    margin-top: 50px;
    width:250px;
    display: flex;
    align-items:center;
    justify-content:center;
    height:50px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #1a1e4d;
    border: 1px solid #891199;
    color:#71f6ff;
    transition: all 0.5s ease-in-out;
    font-family: 'Audiowide';
    font-size:20px;
    line-height: 25px;
}

.container-result a:hover{
    background:#891199;
    border: 1px solid #71f6ff;
    /* color:#1a1e4d; */
}

.container-result-win h2{
    font-family: 'Audiowide';
    font-size:75px;
    text-shadow: 4px 2px 2px rgb(160 53 253),8px 4px 2px rgb(160 53 253),12px 6px 2px rgb(160 53 253),-4px -2px 2px rgb(160 53 253),-8px -4px 2px rgb(160 53 253),-12px -6px 2px rgb(160 53 253);
}
.container-result-win p{
    font-family: 'Audiowide';
    font-size:50px;
    text-shadow: 4px 2px 2px rgb(160 53 253),8px 4px 2px rgb(160 53 253),12px 6px 2px rgb(160 53 253),-4px -2px 2px rgb(160 53 253),-8px -4px 2px rgb(160 53 253),-12px -6px 2px rgb(160 53 253);
}

@media screen and (max-width:830px)
{
    .container-result-win h2{
        font-size:50px
    }
    .container-result-win p{
        font-size: 25px;
    }
}
@media screen and (max-width:550px)
{
    .container-result-win h2{
        font-size:28px
    }
    .container-result-win p{
        font-size: 20px;
    }
}