*,::before,::after{
    box-sizing: border-box;
}

.container-main-Race{
    width:100%;
    height:100vh;
    background: url('../../../../assets/img/starrace2.jpg') no-repeat center/cover;
}

.container-main-Race h2{
    margin-top: 50px;
    margin-bottom:25px;
    font-family: 'Audiowide';
    display: inline-block;
    font-size:45px;
    color: #891199;
    /* background: rgba(224, 109, 240,0.3); */
    padding:10px;
    border-radius:99999px;
    box-shadow: inset -20px 20px 20px 20px rgb(251 222 255 / 30%),inset 20px 20px 20px 20px rgb(251 222 255 / 30%),inset 20px -20px 20px 20px rgb(251 222 255 / 30%),inset -20px -20px 20px 20px rgb(251 222 255 / 30%),-20px 20px 20px 20px rgb(251 222 255 / 30%),20px 20px 20px 20px rgb(251 222 255 / 30%),20px -20px 20px 20px rgb(251 222 255 / 30%),-20px -20px 20px 20px rgb(251 222 255 / 30%);
    padding:10px;
}

.horseracegame-main-container{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    background: url('../../../../assets/img/starrace.jpg')no-repeat center/cover;
    background-color: #1a1e4d;
}


.main-container-horse-line{
    margin:auto;
    width:80%;
    display: flex;
}

.line{
    position: relative;
    width:20%;
    height:20px;
    background: rgba(160,53,253,0.1);
    margin: 20px 0px;
}

.trai{
    position:absolute;
    top: 5px;
    right:50%;
    font-family: 'Press Start 2P';
    color: #fc2338;
}
/* .line1,.line2,.line3,.line4,.line5{
    border-top: 2px solid #f3ef83;
    border-bottom: 2px solid #f3ef83;
}
.line1{
    border-left: 2px solid #f3ef83;
}
.line5{
    border-right: 2px solid #f3ef83;
} */

.horse{
    opacity: 0;
    border-radius: 50%;
    position:absolute;
    top: -5px;
    width: 30px;
    height:30px;
    color: #71f6ff;
    z-index: 10;
    font-size: 30px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes cheval {
    0%{
        opacity: 0;
    }
    0.1%{
        opacity: 1;
    }
    10%{
        opacity: 1;
        left:0px;
    }
    99.9%{
        opacity: 1;
        left:100%;
    }
    /* 99%{
        opacity: 0;
    } */
    100%{
        left:100%;
        opacity: 0;
    }
}
@keyframes cheval2 {
    0%{
        opacity: 0;
    }
    0.1%{
        opacity: 1;
    }
    10%{
        opacity: 1;
        left:0px;
    }
    99.9%{
        opacity: 1;
        left:100%;
    }
    /* 99%{
        opacity: 0;
    } */
    100%{
        opacity: 1;
        left:100%;
    }
}

