*,::before,::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container-form-reg h2{
    margin-top:25px;
    margin-bottom:20px;
}

.container-reg{
    width:100%;
    height:120vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.overlay-reg{
    width:100%;
    height:120vh;
    background: rgba(51, 51, 51,0.5);
    position: absolute;
}
.container-form-reg{
    position:absolute;
    top: 80px;
    width:320px;
    height:520px;
    background:white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.form-reg{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly
}
.inputs-reg{
    margin: auto;
    width:90%;
    display: flex;
    flex-direction:column;
    align-items:center;
}
input{
    border: none;
    outline: none;
    width:80%;
    height:35px;
    border-bottom: 2px solid gray;
    padding-left: 20px;
    
}
.butReg{
    margin: auto;
    width:80%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(33,210,254);
    background: linear-gradient(150deg, rgba(33,210,254,1) 0%, rgba(160,53,253,1) 100%);
}
p{
    cursor: pointer;
    margin-bottom: 5px;
}
.container-empty{
    display: none;
}
.container-form-reg p{
    padding-bottom: 25px;
}

@media screen and (max-width:500px){
    .form{
        width:300px;
        height:340px
    }
    h2{
        margin-top:10px;
        margin-bottom:5px;
    }
    .butReg{
        height:25px;
        font-size: 20px;
    }
}