*,::before,::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container-navbar-user{
    width: 100%;
    height:40px;
    background: #1a1e4d;
    border-bottom: 1px dotted #f1f1f1;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:absolute;
    z-index: 10;
}
.container-navbar-user button{
    width:100px;
    height:30px;
    margin-right: 60px;
    outline: none;
    border-radius: 9999px;
    background: #1a1e4d;
    color: #9c3cff;
    font-size: 14px;
    border:2px solid #21d2fe;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #1a1e4d;
}
.container-navbar-user button:hover{
    color:#21d2fe;
    background: #9c3cff;
}
.container-navbar-user p{
    color:#9c3cff
}
.container-navbar-user p:nth-child(1){
    margin-left: 20px;
}

@media screen and (max-width:600px){
    .container-navbar-user p{
        font-size:12px
    }
    .container-navbar-user button{
        margin:0px;
        width:70px;
        font-size:12px
    }
    .container-navbar-user p:nth-child(1){
        margin-left: 0px;
        text-align: left ;
    }
}